* {
    margin: 0;
    padding: 0;
}

body {

    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
}


.navbar__s1__title {
    color: #a435f0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap:10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
}

.navbar__s2 input:focus{
    outline:none;
}

.navbar__s3{
    display: flex;
    gap:10px;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    border-bottom: solid black 1px;
    flex-wrap: wrap;
}


.categories p{
    background-color: #a435f0;
    color:white;
    padding: 5px;
    border-radius: 30px;
}

.sale-image img{
    width: 100%;
}

.recommended{
    padding:10px;
}
.recommended__container,
.popular__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.course-card {
    flex: 0 0 23%; /* fits 4 cards in a row with some gap */
    margin-bottom: 20px;
}


.course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.topics{
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__container p {
    border: solid grey 2px;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    flex-basis: 22%;
}


.popular{
     padding:10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:10px;
   
}
.footer {
    padding: 20px;
    background-color: black;
    color: white;
}

/* BOTH columns on the LEFT */
.footer__one {
    display: flex;
    justify-content: flex-start; /* important */
    gap: 50px;                   /* space between s1 & s2 */
}

/* Column layout */
.footer__one__s1,
.footer__one__s2 {
    display: flex;
    flex-direction: column;
}

.footer__one p {
    margin: 8px 0;
    cursor: pointer;
}

/* Bottom row */
.footer__two {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

